<?xml version="1.0" encoding="utf-8"?>
<manifest package="ch.ralena.extracredit"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ColorActivity"
			android:label="Favorite Color"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ch.ralena.extracredit.MainActivity"/>
		</activity>
		<activity
			android:name=".FakeLoginActivity"
			android:label="Fake Login"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ch.ralena.extracredit.MainActivity"/>
		</activity>
		<activity
			android:name=".AgeActivity"
			android:label="Age"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ch.ralena.extracredit.MainActivity"/>
		</activity>
		<activity
			android:name=".ColorResultsActivity"
			android:label="Color Results"
			android:parentActivityName=".ColorActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ch.ralena.extracredit.MainActivity"/>
		</activity>
		<activity
			android:name=".FakeLoginResultsActivity"
			android:label="Fake Login Results"
			android:parentActivityName=".FakeLoginActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ch.ralena.extracredit.FakeLoginActivity"/>
		</activity>
		<activity android:name=".AgeResultsActivity"
				  android:label="Age Results"
				  android:parentActivityName=".AgeActivity"
				  android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ch.ralena.extracredit.AgeActivity"/>
		</activity>
	</application>

</manifest>